<li id="comment_<%=comment.id %>">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section class="comment-list">
        <!-- First Comment -->
        <article class="row">
          <div class="col-md-10 col-sm-10">
            <div class="panel panel-default arrow left">
                <% if current_user == comment.user %>
              <div class="panel-body comment_selected">
                <% else %>
                <div class="panel-body">
                <% end %>

                    <div class="comment-post">

                  <p>
                    <%= comment.body %>
                  </p>
                </div>
                <div class="text-right">
                  <time class="comment-date">Created <i class="fa fa-clock-o"><%= time_ago_in_words(comment.created_at) %></i> ago</time>

                  <% if user_signed_in? %>
                  <p id="like-comment-<%= comment.id %>">

                    <% if current_user != comment.user %>
                    <%= link_to "love",love_comment_path(comment),remote:true, data:{confirm:"Are you sure?"} %> |
                    <% end %>

                    <% if current_user.voted_up_on? comment %>
                        <%= link_to "liked",like_comment_path(comment), remote: true %>
                    <% else %>
                        <%= link_to "like",like_comment_path(comment), remote: true %>
                    <% end %>

                    <b><%= comment.get_likes.size %></b>
                  </p>
                  <% else %>
                      <p>like <%= comment.get_likes.size %>
                      </p>
                  <% end %>


              </div>
                <% if user_signed_in? %>
                    <% if current_user == comment.user %>
                        <div class="text-right">
                          <%= link_to "", [comment.post, comment], class:'btn btn-default glyphicon glyphicon-remove', method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
                        </div>
                    <% end %>
                <% end %>
                <!--<p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>-->
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
</li>