if ($("#like-comment-<%=@comment.id %> a").text() == "liked"){
  $("#like-comment-<%=@comment.id %> a").text("like")

}
else{
  $("#like-comment-<%=@comment.id %> a").text("liked")
}

$("#like-comment-<%=@comment.id %> b").text("<%=@comment.get_likes.size%>")