<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>


<% if user_signed_in? %>
    <% if current_user == @post.user %>
        <div class="text-right">
          <%= link_to 'Edit', edit_post_path(@post) %> |
          <%= link_to 'Back', posts_path %>
        </div>
    <% end %>
<% end %>


<%= render "comments/comments" %>