<h2>PHILDATE</h2>
<p>외모와 스펙으로 사랑을 평가하고 호감이 가는 이시대 <br><b>"지 루 해!" "역 겨 워!"</b></br> 혁신적인 방법으로 스펙 외모 그 외에 모든것으로 부터 자유로운 사랑을 경험하세요!
  <br>오로지 자신의 생각과 철학으로 어필하고 사랑이 이루어지는 PhilDate(Philosophy Date)<br>
  당신의 순결한 그리고 고결한 철학관으로 진정성 있는 만남을 가져가세요!</p>

<br />
<%= link_to "글작성", posts_path, class:'btn btn-default' %>

<%= link_to 'New Post', new_post_path %>
