<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content , :input_html => {:rows => 10 ,:size => 30} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<script>


  $("#post_content").height($(window).height()-350);
// this is for phone user interface

  $("#post_title").click(function(){
   $("#post_content").css({
     top:300
   })
  })

  $("#post_content").click(function(){
    if($(window).height()<350) {
      $("#post_content").css({top: 300});
      $("#post_content").height($(window).height());
      $("#post_content").animate({top: 0}, 500);
    }
  });


  $(window).resize(function(){
    if($(window).height() > 350) {
      $("#post_content").height($(window).height() - 350);
    }
  });
</script>