if ($("#like-post-<%=@post.id %> a").text() == "liked"){
  $("#like-post-<%=@post.id %> a").text("like")

}
else{
  $("#like-post-<%=@post.id %> a").text("liked")
}

$("#like-post-<%=@post.id %> b").text("<%=@post.get_likes.size%>")