

<p id="notice"><%= notice %></p>

<div class="container">
<h1 class="header">
  <%= @post.title %>
</h1>

<h4 class="post_show">
  &nbsp;&nbsp;&nbsp;&nbsp;<%= @post.content %>
</h4>
</div>

<% if user_signed_in? %>
    <% if current_user == @post.user %>
        <div class="text-right">
          <%= link_to 'Edit', edit_post_path(@post) %> |
          <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }%> |
          <%= link_to 'Back', posts_path %>
        </div>
    <% end %>
<% end %>


<%= render "comments/comments" %>