$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: #ef43b8;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'comments';
@import 'posts';

body {
  padding-top: 60px;
}

.btn-default-1{
  background-color: rgba(0,0,0,0);
}

.glyphicon-heart{
  color:lightgray;
  font-size: 2.0em;

}

.loves{
  background-color: rgba(150, 51, 100, 0.7);
  right:0px;
  top:30px;

}

.nav{
  right:10px;
  position:fixed;
}



@media (max-width: 767px){
  .nav li{
    position:fixed;
    right:0px;
  }
  #who{
    right:100px;
  }
  #love{
    right:50px;
  }
  #you{
    right:10px;
  }
}